/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{font-family: 'Montserrat', sans-serif; font-size: 16px;
      background-color : rgb(255, 255, 255);
      color : #202020;
    }
  
  a{text-decoration: none;}
  
  h1,h2,h3,h4,h5, p{color: rgb(255, 255, 255);}
  
  p{line-height: 22px;color: #666; font-weight: 400;}
  
  .big-text{font-size: 70px; font-weight: 900;}
  .med-text{font-size: 50px;}
  .normal-text{font-size: 35px;}
  .small-text{font-size: 20px;}
  
  .button{padding: 15px 15px; background: #31676C; color:rgb(255, 255, 255); display: inline-block; 
  border-radius: 60px; font-size: 20px;}
  .button:active, .button:hover{background-color: #EE7513; color:rgb(255, 255, 255); }
  
  ul {list-style-type: none;}    
  
  
  
  
  :root{
      --white: #f9f9f9;
      --black: #31676C;
      --gray: #EE7513;
  } /* variables*/
  
   /* Header */
  .header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(#202020);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  /* Logo */
  .logo{
    display: inline-block;
    color: var(--white);
    font-size: 80px;
    margin-left: 20px;
    margin-bottom: 15px;
  }   
  
  /* Nav menu */
  .nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
  
  }
  .menu a{
    display: block;
    padding: 50px;
    color: var(--white);
  }
  .menu a:hover{
    color: var(#EE7513);
  }
  .nav{
    max-height: 0;
    transition: max-height .5s ease-out;
  }
  
  /* Menu Icon */
  .hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
  }/* Style label tag */
  
  .hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  
  } /* Style span tag */
  
  .hamb-line::before,
  .hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .hamb-line::before{
    top: 5px;
  }
  .hamb-line::after{
    top: -5px;
  }
  
  .side-menu {
    display: none;
  } /* Hide checkbox */
  
  /* Toggle menu icon */
  .side-menu:checked ~ nav{
    max-height: 100%;
  }
  .side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
  }
  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
  }
  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
  }
   /* ! banner */
  .container {
    width: 100%;
    height: 100vh;
  }
  
  .banner {
    width: 100%;
    height: 65vh;
    background-image: url(foto-bn.jpg);
    background-size: cover;
    background-position: 69%;
    }
  
  .banner-text {
    padding-top: 100px;
    margin-left: 50px;
  }
  
  
  
  
  /* ! box home */ 
  .wrapper {
    display: flex;
    flex-direction: row;
    background: #efefef;
    }
    
    h2, 
    p {
    margin-bottom: 10px;
    }
  
    .section{
    width: 50%;
    padding: 50px;
    }
    
    .section2{
      width: 50%;
      padding: 0px;
      }
  
    .bg-color{
    background:#31676C;
    }
  
    .bg-color2{
      background:  #EE7513;
      }
  
      .flex {max-width: 100%}
  
  /* ! box testi */ 
  .tit {
  color: #31676C;
  text-align: center;
  font-size: 40px;
  }
  .text1{
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  color: #31676C;
  }
  
  
  /* ! pagina creazioni */ 
  .container-crea{
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  
  .box-1{
  flex:1;
  width: 30%;
  border-radius: 20px;
  border: 3px solid #EE7513;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 20px 10px 10px 10px;
  
  }
  
  .boxt{
    text-align: justify;
  }
  
    .box-2{
      flex:1;
      width: 30%;
      border-radius: 20px;
      border: 3px solid #31676C;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      padding: 20px 10px 10px 10px;
      
  
    }
    
    .box-3{
      flex:1;
      width: 30%;
      border-radius: 20px;
      border: 3px solid #EE7513;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      padding: 20px 10px 10px 10px;
   
    }
  
  
  
  /* ! box creazioni */ 
  
  .blocco_servizi {
      max-width: 1366px;
      width: 100%;
      font-family: "Montserrat";
      height: auto;
      margin: 0 auto;
      justify-content: center;
      padding: 20px 20px;
  }
  
  .blocco_servizi--header {
      text-align: center;
      padding: 10px;
  }
  
  .blocco_servizi--header-subtitle {
      font-size: 1.143rem;
      color: #000;
  }
  
  
  .blocco_servizi--container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      padding: 20px 0 0 0;
  }
  
  .blocco_servizi--container--box {
      width: 20%;
      margin: 10px 1% 0;
      height: 140px;
      border-radius: 16px;
      background-color: #bfbfbf;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all 0.2s ease-in;
  }
  
  
  .blocco_servizi--container--box:active, .blocco_servizi--container--box:hover{
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.23), 0 10px 10px 0 rgba(0, 0, 0, 0.208);}
  
  .blocco_servizi--container--box-image {
      cursor: pointer;
  }
  
  
  div#container {
      width: 100%;
      text-align: center;
  }
  div.split2 div {
      float: left;
      width: 50%;
  }
  
  div.wide {
      clear: center;
  }
  
  .box-creazioni2{
  text-align: justify; 
  width: 100%;
  text-align: center;
  }
  
  
  
  #galleria{
      text-align: center;
      width: 100%;
      border-radius: 20px;
  
  }
  
  .immagine{
      display: inline-block;
      width: 25%;
      margin: 10px 1%;
      border: 1px solid #31676C;
      border-radius: 22px;
  }
  
  .preview{
      width: 100%;
      border-radius: 20px;
  }
  
  @media (max-width: 480px) {
      .immagine{
          width: 98%;
          margin: 1%;
      }
  }
  
  @media (max-width: 720px) and (min-width: 480px){
      .immagine{
          width: 47%;
      }
  }
  
  @media (max-width: 1020px) and (min-width: 720px){
      .immagine{
          width: 30%;
      }
  }
  
  /* slider */
  
  * {
      box-sizing: border-box;
    }
    
    .mySlides {
      display: none;
  
    }
    img {
      vertical-align: middle;
    }
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
  
    }
  
   
    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      
    }
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color:#EE7513;
    }
    /* Caption text */
    .text {
      color: #ffffff;
      font-size: 28px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
  
    /* Number text (1/3 etc) */
    .numbertext {
      color: #fff;
      text-shadow: 1px 1px 1px #202020;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #999999;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active,
    .dot:hover {
      background-color: #31676C;
    }
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
      from {
        opacity: .4
      }
      to {
        opacity: 1
      }
    }
    @keyframes fade {
      from {
        opacity: .4
      }
      to {
        opacity: 1
      }
    }
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .prev,
      .next,
      .text {
        font-size: 11px;
      
      }
    }
  
   /* div pagina creazioni */
   .images-container {
    display: flex;  
    justify-content: center;
                  
    }
  
    .images-container img{
      margin-left: 15px;  
      margin-right: 15px;              
      }
  
  .cr-foto {
        color: #31676C;
        text-align: center;        
        }
  
  .cr-ft {
    width: 100%;
  color: #555555;
  text-align: center; 
  
        
          }
  
  
      