/* Responsiveness */
@media only screen and (max-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        width: auto;
     }


    .menu li{
        float: left;
    }
  
  

    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;

    }
}


/* ! box home */
@media only screen and (min-width:150px) and (max-width:700px){

.big-text{font-size: 50px; font-weight: 900;}
.normal-text{font-size: 35px;}

    .wrapper {
    flex-direction: column;
    }
    
    .wrapper:nth-child(even) {
    flex-direction: column-reverse;
    }
    
    .section{
    width: 100%;
    min-height: 50px;
    }
 

    .section2{
        width: 100%;
        min-height: 50px;
        }
        

        h2, 
        p {
            font-size: 12px;
        }


    }


/* ! pagina creazioni  @media only screen and (max-width: 768px) */ 
 
@media only screen and (min-width:150px) and (max-width:700px){

    .button{
        width: 80%;
        margin-bottom: 3%;
    }

    .button2{
      width: 50%;
      margin-bottom: 3%;
     
  }


    .container-crea, .container-crea2 {
        flex-direction: column;
        width: 100%;
        padding: 5px 5px 5px 5px;
        
    }

    .box-1, .box-2, .box-3  {
        width: 100%;
        margin-bottom: 30px;
      }

  .box-4{
        flex:1;
        width: 100%;
        border-radius: 0px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: left;
        padding: 20px 10px 10px 10px;
        background-color: none;
        
        }
      


      h4 {
        font-size: 80%;
        text-align: center;
        text-align: justify;
      }

    
}